name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.0

      - name: Setup Node.js
        uses: actions/setup-node@v6.0.0
        with:
          node-version: 22

      - name: Install dependencies
        run: npm ci

      - name: Lint code
        run: npm run lint

      - name: Run tests
        run: npm test

      - name: Build package for AWS
        run: npm run build

      - name: Upload artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: eb-package
          path: package.zip

  deploy:
    needs: ci
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.0

      - name: Download artifact
        uses: actions/download-artifact@v6.0.0
        with:
          name: eb-package

      - name: Install AWS CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y zip
          pip install awsebcli --upgrade

      - name: Initialize EB
        run: eb init my-node-app --platform node.js --region eu-west-3
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Set EB Environment
        run: eb use my-node-env
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Deploy to AWS
        run: eb deploy
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
